<%= form_with url: confirm_friend_path(user), method: :put, class: 'd-inline' do %>
  <button type="submit" class="btn btn-primary">
    Accept?
    <i class="bi bi-person-fill-check"></i>
  </button>
<% end %>

